.favicon {
    border-radius: 50%;
}

.pop-watch-heading {
    position: relative;
    z-index: 2;
    font-size: 48px;
    background: linear-gradient(270deg, #212121, #0496db, #023d6a);
    background-clip: text;
    color: transparent;
    align-self: center;
}

body {
    display: inline-flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 100%;
    align-items: center;
  }

.main-image {
    position: relative;
    margin-top: 2.5%;
    margin-bottom: 1.5%;
    width: 40%;
}

.columns-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
}

form {
    height: 100%;
}

fieldset {
    border: 3px solid white;
    border-radius: 10px;
    background-color: #023d6a;
}

.form-label {
    margin-bottom: 5px;
    color: white;
}

.contact-heading {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
    font-size: 48px;
    background: linear-gradient(270deg, #212121, #0496db, #023d6a);
    background-clip: text;
    color: transparent;
    justify-self: center;
}

.ed-heading {
    position: relative;
    z-index: 2;
    font-size: 48px;
    background: linear-gradient(270deg, #212121, #0496db, #023d6a);
    background-clip: text;
    color: transparent;
    align-self: center;
    margin-top: 12%;
}

.fieldset-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 1%;
    grid-row-gap: 20%;
    padding: 10px 10px 25px 10px;
}

.grid-item-newsletter {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.grid-item {
    display: inline-flex;
    flex-direction: column;
    padding: 1%;
}

.grid-item-wide {
    display: inline-flex;
    flex-direction: column;
    grid-column: span 2;
    padding: 1%;
}

.subscribe-label {
    color: white;
}

#subscribe {
    margin-bottom: 35px;
}

#submit-button {
    height: 40px;
    border-radius: 15px;
    font-size: 16px;
    background: linear-gradient(270deg, #212121, #0496db, #023d6a);
    color: white;
    border: 4px solid white;
}
#return-home-button {
    display: inline-flex;
    margin-left: 28%;
    align-items: center;
    height: 80px;
    width: 240px;
    border-radius: 15px;
    font-size: 24px;
    background: linear-gradient(270deg, #212121, #0496db, #023d6a);
    color: white;
    border: 4px solid white;
}
.resource-container {
    display:inline-flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.resource-list {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    font-weight: 600;
    margin-bottom: 5%;
    line-height: 35px;
}

.resource-list:hover {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    font-weight: 600;
    color: #0496db;
}

.list-link {
    font-size:24px;
    color: #212121;
    text-decoration: none;
}

.list-link:hover {
    z-index: 2;
    font-size: 24px;
    background: linear-gradient(270deg, #212121, #0496db, #023d6a);
    background-clip: text;
    color: transparent;
    }

.list-img {
    width: 30%;
    transform: rotate(-90deg);
    margin: 0;
    padding: 0;
    border-radius: 15px;
}

.column {
    padding: 0 10px;
    margin: auto;
}

.nav-bar {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 70px;
    background-color: #d4d1d1;
    margin-top: 0;
}

.nav-bar a {
    padding-top: 23px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav-bar a:hover {
    text-decoration: none;
    color: #0496db
}

.nav-bar a:visited {
    text-decoration: none;
    color: #023d6a
}

header {
    width: 100%;
}

.watch-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.watch-grid-item {
    font-size: 24px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(270deg, #212121, #0496db, #023d6a);
    background-clip: text;
    color: transparent;
}

.watch-img {
    width: 300px;
    margin: 10px auto;
}

.watch-img-three {
    width: 300px;
    margin: 10px auto;
}

.watch-img-shrink {
    width: 250px;
    margin: 10px auto;
}

@media (min-width:1081px) {
    .fieldset-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 1%;
        grid-row-gap: 15%;
        padding: 10px 10px 75px 10px;
    }
    .overlay-title-top {
        z-index: 2;
        position: relative;
        top: 10%;
        font-size: 72px;
        background: linear-gradient(270deg, #212121, #0496db, #023d6a);
        background-clip: text;
        color: transparent;
        text-align: center;
    }
    .subscribe-label {
        z-index: 2;
        font-size: 24px;
        color: white;
    }
    #subscribe {
        padding: 0;
        margin: 0;
        width: 25px;
        margin-bottom: 20px;
    }
    #submit-button {
        position: relative;
        height: 40px;
        border-radius: 15px;
        font-size: 16px;
        background: linear-gradient(270deg, #212121, #0496db, #023d6a);
        color: white;
        border: 4px solid white;
        bottom: 8px;
    }
    .list-link:hover {
        font-size: 28px;
    }
    .ed-heading {
        position: relative;
        z-index: 2;
        background: linear-gradient(270deg, #212121, #0496db, #023d6a);
        background-clip: text;
        color: transparent;
        align-self: center;
        margin-top: 7%;
    }
}

@media (max-width: 359px) {
    .nav-bar a {
        padding-top: 23px;
        text-decoration: none;
        color: black;
        font-size: 18px;
    }

    .overlay-title-top {
        position: relative;
        z-index: 2;
        top: 21%;
        font-size: 14px;
        background: linear-gradient(270deg, #212121, #0496db, #023d6a);
        background-clip: text;
        color: transparent;
        text-align: center;
    }

    .pop-watch-heading {
        font-size: 36px;
        text-align: center;
    }

    .nav-bar {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        align-items:center;
        padding-bottom: 20px;
        height: 100%;
    }

    .watch-grid {
        grid-template-columns: 1fr;
    }

    .ed-heading {
        font-size: 36px;
        text-align: center;
    }

    .list-img {
        width: 60%;
        text-align: center;

    }

    .contact-heading {
        font-size: 24px;
        justify-self: center;
        text-align: center;
    }

    .fieldset-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 1%;
        grid-row-gap: 5%;
        padding: 10px 10px 25px 10px;
    }

    .grid-item-wide {
        display: inline-flex;
        grid-column: span 1;
        flex-direction: column;
        padding: 1%;
    }

    .subscribe-label {
        position: relative;
        z-index: 2;
        font-size: 16px;
        color: white;
        top: 11px;
    }

    #subscribe {
        position: relative;
        padding: 0;
        top: 10px;
    }

    #submit-button {
        position: relative;
        height: 40px;
        border-radius: 15px;
        font-size: 16px;
        background: linear-gradient(270deg, #212121, #0496db, #023d6a);
        color: white;
        border: 4px solid white;
        bottom: 15px;
    }

}

@media (min-width: 360px) and (max-width: 768px) {
    .overlay-title-top {
        z-index: 2;
        position: relative;
        top: 22%;
        font-size: 24px;
        background: linear-gradient(270deg, #212121, #0496db, #023d6a);
        background-clip: text;
        color: transparent;
        text-align: center;
    }

    .pop-watch-heading {
        font-size: 36px;
    }

    .columns-container {
        flex-direction: column;
    }

    .contact-heading {
        position: relative;
        z-index: 2;
        font-size: 36px;
        background: linear-gradient(270deg, #212121, #0496db, #023d6a);
        background-clip: text;
        color: transparent;
        align-self: center;
        text-align: center;
    }

    .fieldset-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 1%;
        grid-row-gap: 5%;
        padding: 10px 10px 25px 10px;
    }

    .grid-item-wide {
        display: inline-flex;
        grid-column: span 1;
        flex-direction: column;
        padding: 1%;
    }

    .subscribe-label {
        position: relative;
        z-index: 2;
        font-size: 16px;
        color: white;

    }
    #subscribe {
        position: relative;
        padding: 0;

    }
    #submit-button {
        position: relative;
        height: 40px;
        border-radius: 15px;
        font-size: 16px;
        background: linear-gradient(270deg, #212121, #0496db, #023d6a);
        color: white;
        border: 4px solid white;
        bottom: 15px;
        left: 2px;
    }

    .list-img {
        width: 60%;
        transform: rotate(-90deg);
        margin: 0;
        padding: 0;
    }
    .ed-heading {
        font-size: 48px;
        text-align: center;
    }
    .list-link:hover {
        font-size:18px;
    }
    .list-link {
        font-size: 16px;
    }
    .watch-grid {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 20px;
    }
    .nav-bar {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        align-items:center;
        padding-bottom: 20px;
        height: 100%;
    }

    .pop-watch-heading {
        font-size: 48px;
        text-align: center;
    }


}

/* @media (min-width: 501px) and (max-width: 700px) {
    .fieldset-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 1%;
        grid-row-gap: 10%;
        padding: 10px 10px 35px 10px;
    }
    .overlay-title-top {
        z-index: 2;
        position: absolute;
        top: 9%;
        font-size: 24px;
        background: linear-gradient(270deg, #212121, #0496db, #023d6a);
        background-clip: text;
        color: transparent;
    }
    #subscribe {
        position: relative;
        padding: 0;
        margin: 0;
        width: 25px;
        bottom: 15%;
    }
    .subscribe-label {
        position: relative;
        z-index: 2;
        font-size: 18px;
        color: white;
        bottom: 10%;
        left: 10%;
    }
    .contact-heading {
        position: relative;
        z-index: 2;
        font-size: 24px;
        background: linear-gradient(270deg, #212121, #0496db, #023d6a);
        background-clip: text;
        color: transparent;
        align-self: center;
        margin-left: 8%;
    }
    .list-img {
        width: 60%;
        transform: rotate(-90deg);
        margin: 0;
        padding: 0;
    }
    .ed-heading {
        font-size: 34px;
    }
    .list-link {
        font-size:18px;
    }
    .watch-grid {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 20px;
    }
} */

/*  @media (min-width: 701px) and (max-width:940px) {
    .overlay-title-top {
        z-index: 2;
        position: absolute;
        top: 10%;
        font-size: 34px;
        background: linear-gradient(270deg, #212121, #0496db, #023d6a);
        background-clip: text;
        color: transparent;
    }
    .fieldset-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 1%;
        grid-row-gap: 15%;
        padding: 10px 10px 35px 10px;
    }
    .grid-item-newsletter {
        position: relative;
        justify-content: flex-start;
        margin-right: 10px;
    }

    .grid-item-wide {
        display: inline-flex;
        grid-column: span 1;
        flex-direction: column;
        padding: 1%;
    }

    #subscribe {
        position:relative;
        padding: 0;
        width: 50px;
        right: 10px;
        top: 6px;
    }

    .subscribe-label {
        position: relative;
        z-index: 2;
        font-size: 16px;
        color: white;
        right: 15px;
        top: 10px;
    }

    #submit-button {
        position: relative;
        height: 50px;
        border-radius: 15px;
        font-size: 16px;
        background: linear-gradient(270deg, #212121, #0496db, #023d6a);
        color: white;
        border: 4px solid white;
        bottom: 8px;
        right: 15px;
    }

    .contact-heading {
        position: relative;
        z-index: 2;
        font-size: 24px;
        background: linear-gradient(270deg, #212121, #0496db, #023d6a);
        background-clip: text;
        color: transparent;
        align-self: center;
        margin-left: 12%;
    }

    .pop-watch-heading {
        margin-left: 0;
    }

    .list-img {
        width: 50%;
        transform: rotate(-90deg);
        margin: 0;
        padding: 0;
    }

    .ed-heading {
        position: relative;
        z-index: 2;
        font-size: 36px;
        background: linear-gradient(270deg, #212121, #0496db, #023d6a);
        background-clip: text;
        color: transparent;
        align-self: center;
    }

    .list-link:hover {
        font-size: 26px;
    }

    .watch-img {
        position: relative;
        width: 175px;
        margin: 10px auto;
    }

    .watch-img-three {
        width: 175px;
        margin-top: 37px;
    }

    .watch-img-shrink {
        width: 150px;
        margin: 10px auto;
    }
    .watch-grid {
        position: relative;
        padding: 0 10% 10% 10%;
}
} */

@media (min-width: 769px) and (max-width: 1080px) {

    .nav-bar {
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding-bottom: 20px;
    }

    form {
        width: 80%;
    }

    fieldset {
        width: 100%;
    }

    .overlay-title-top {
        z-index: 2;
        position: relative;
        top: 20%;
        font-size: 48px;
        background: linear-gradient(270deg, #212121, #0496db, #023d6a);
        background-clip: text;
        color: transparent;
        text-align: center;
    }
    .subscribe-label {
        position: relative;
        z-index: 2;
        font-size: 24px;
        color: white;
        margin-right: 20px;
    }
    #subscribe {
        padding: 0;
        margin: 0;
        width: 25px;
        margin-bottom: 20px;
    }
    #submit-button {
        position: relative;
        height: 40px;
        border-radius: 15px;
        font-size: 16px;
        background: linear-gradient(270deg, #212121, #0496db, #023d6a);
        color: white;
        border: 4px solid white;
        bottom: 8px;
        right: 20px;
    }
    .list-img {
        width: 35%;
        transform: rotate(-90deg);
        margin: 0;
        padding: 0;
    }

    .ed-heading {
        margin-top: 7%;
    }

    .list-link:hover {
        font-size: 28px;
    }

    .columns-container {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 80%;
    }
    .contact-heading {
        position: relative;
        z-index: 2;
        font-size: 48px;
        background: linear-gradient(270deg, #212121, #0496db, #023d6a);
        background-clip: text;
        color: transparent;
        align-self: center;
        text-align: center;
    }

    .fieldset-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 1%;
        grid-row-gap: 5%;
        padding: 10px 10px 25px 10px;
    }

    .grid-item-wide {
        display: inline-flex;
        grid-column: span 1;
        flex-direction: column;
        padding: 1%;
    }

    .subscribe-label {
        position: relative;
        z-index: 2;
        font-size: 16px;
        color: white;

    }
    #subscribe {
        position: relative;
        padding: 0;

    }
    #submit-button {
        position: relative;
        height: 40px;
        border-radius: 15px;
        font-size: 16px;
        background: linear-gradient(270deg, #212121, #0496db, #023d6a);
        color: white;
        border: 4px solid white;
        bottom: 15px;
        left: 2px;
    }
    .watch-grid {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 20px;
    }
}

@media (max-width: 750px) {
    .columns-container {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 80%;
    }
}
